extends layout

block content


    p Welcome to #{title};
    p Hello #{name};
    a(href='/signout') Sign out

    p Here are your list of courses
    ul
      each course in courses
          a(href='/courses/#{course.code}')
            li= course.code + ":" + course.title

    p Create new courses
    form(action = "/courses" method = "POST")
        input(name = "title" type = "text" required placeholder = "Course name")
        input(name = "code" type = "text" required placeholder = "Course code")
        button(type = "Submit") Save!
